
.ancizar-serif-noto {
  font-family: "Ancizar Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 360;
  font-style: normal;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 590px;
    margin: 30px 150px 0px 150px;
}
.cart{
    display: flex;
    gap: 10px;
    align-items: center;
    white-space: nowrap; 
}
.nav-logo{
    height: 82px;
    width: 135px;
    display: block;
}
.nav-right{
    display: flex;  
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}
.nav-item{   
    display: flex; 
    margin-right: 48px;
}
.nav-link{
    list-style: none;
    text-decoration: none;
}
.nav-color{
    color: #000000;
}

/* shared */
.gray-color{
    color: #8987A1;
}
.Fresh-flower{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
}
.fresh-title-color{
    color: #E95A08;
}
.fresh-title{
    font-size: 65px;
}
.fresh-discription {
    font-size: 22px;
}
.fresh-left{
    width: 50%;
}
.fresh-right{
    height: 355px;
    width: 50%;
}
/* plant section */
.our-plant{
   max-width: 1140px;
   margin: 0 auto;
text-align: center;
}
.plants{
    width: 1140px;
    padding: 20px 16px;
}
.plant-title{
    font-size: 50px;
    margin-bottom: 10px;
}
.plant-discription{
    font-size: 22px;
    max-width: 700px;
    margin: 0 auto;
}
.plant-cart{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 49px;
    gap: 20px;
}
.plant-cart img{
    height: 322.98px;
    width: auto;
}
.plant-cart p{
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.plant-cart h5{
    font-size: 22px;
    font-weight: bold;
}
.plant-cart button{
    color: white;
    background-color: #E95A08;
    height: 50px;
    width: 270px;
    border: none;  
}
.deals{
      max-width: 1140px;
     margin: 0 auto;
     text-align: center;
}

.two-img{
    display: block;
    gap: 25px;
}
.img-plant{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 423px;
}

/* flower & plants lover */
.flower-plant{
    display: flex;
    margin-top: 210.12px;  
    gap: 60px;
    margin-left: 150px;
    margin-right: 150px;
    align-items: center;
    
}
.flower-plant-left{
    position: relative;
    width: 50%;
}
.flower-plant-left-img{
    width: 100%;
    height: auto;
}
.trusted{
    position: absolute;
    height: 286px;
    width: 286px;
    right: -100px;
    top: -100px;
    
}
 .flower-plant-right{
    width: 50%;
    padding: 30px;
} 
.flower-plant-right h2{
    font-size: 50px;
    margin-bottom: 20px;
}

.flower-plant-discription{
    font-size: 22px;
}
.flower-plant-discription{
    margin-bottom: 20px;
}

/* latest-deals */
.latest-deals{
    margin-top: 134px;
    margin-left: 150px;
    margin-right: 150px;
}
.deals-title{
    font-size: 50px;
}
.latest-deals-image{
    display: grid;
    grid-template-columns: 30% 70%;
    height: 423px;
    margin-top: 120px;
    gap: 28px;
}
.latest-deals-left{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 25px; 
}
.latest-deals-image img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
}
.latest-deals-image{
    width: 100%;
    height: 100%;
}
.latest-deals-right{
    height: 100%;
}
.latest-deals-left-up,
.latest-deals-left-down,
.latest-deals-right {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4); 
    border-radius: 20px;
}
.latest-deals-left h3{
    font-size: 20px;
}
.latest-deals-left a{
    font-size: 16px;
    color: white;
}
.latest-deals-right h3{
    font-size: 40px;
}
.latest-deals-right a{
    font-size: 28px;
    color: white;
}

/* join Bunch */
.join-bunch img{
    width: 100%;
    height: auto;
}
body, html {
  margin: 0px;
  padding: 0px;
}
.join-bunch{
    position: relative;
}
.join-bunch-content{
   top: 0px;
    left: 0px;
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
     color: white;
    background: rgba(0, 0, 0, 0.4); 
}
.join-bunch-content h1{
    font-size: 50px;
}
.join-bunch-submit{
    display: flex;
    gap: 0px;

}
.join-bunch-submit input{
    width: 644px;
    height: 50px;
    padding-left: 20px;
}
.join-bunch-submit button{
    width: 186px;
    height: 60px;
    background-color: #E95A08;
    color: white;
    font-weight: 600;
}
.join-bunch-section{
    margin-top: 44.5px;
}

/* footer */
.footer{
    height: 248px;
    width: 1120px;
    margin: 50px 160px;
    display: grid;
    grid-template-columns: 359px 85px 128px 216px;
    gap: 110.67px;
}
.middle1 {
  display: grid;
  grid-template-rows: repeat(5, auto);
  column-gap: 10px;
  white-space: nowrap;
}
.middle1 ul{
 list-style: none;
 display: grid;
 grid-column: 32px;
 gap: 32px;
}

.middle1 ul li a{
    text-decoration: none;
}

.icon{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 24px;
    top: 0px;
}
.footer-left{
    width: 359px;
}



@media screen and (max-width: 576px) {
    .hide{
        display: none;
    }
    .navbar{
        width: 100%;
        gap: 185px;
        margin: 13px 16px 0px 16px;
    }
    .nav-logo{
    height: 38px;
    width: 63px;   
    }
    .Fresh-flower{
        flex-direction: column-reverse;
        margin-left: 16px;
        margin-right: 16px;
        gap: 60px;
        margin-bottom: 60px;
    }
    .fresh-right{
        width: 393.18px;
        height: 245px;
    }
    .fresh-left{
        height: 127px;
        width: 361px;
        gap: 13px;
    }
    .fresh-title{
        font-size: 24px;
        height: 50px;
        width: 361px;
    }
    .fresh-discription{
        font-size: 14px;
        margin-top: 13px;
    }
    .plants{
        margin-bottom: 16px;
        width: 100%;
    }
    .plant-title{
    font-size: 24px;
    }
    .plant-discription{
        font-size: 14px;
        max-width: 100%;
        margin-left: 28.5px;
        margin-right: 28.5px;
    }
    .plant-cart{
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        padding: 0 16px;
    }
    .plant-cart> div{
        width: 100%;

    }
    .plant-cart img {
    width: 100%;
    height: auto;
  }

  .plant-cart button {
    width: 100%;
    max-width: 100%;
  }
  /* flower-plant */
  .flower-plant {
    flex-direction: column;
    margin-left: 17px;
    margin-right: 17px;
    gap: 0px;
    margin-top: 41.5px; 
  }
  .flower-plant-left, .flower-plant-right{
    width: 100%;
  }
  .flower-plant-right{
    margin-left: 0px;
  }
  .flower-plant-right br{
    display: none;
  }
  .flower-li{
    padding: 25px;
  }
  
.flower-plant-right h2{
    font-size: 24px;
    margin-bottom: 16px;
    margin-top: 0px;
}

.flower-plant-discription{
    font-size: 14px;
    margin-bottom: 20px;
}
  


/* latest deals */
  .latest-deals {
    margin-top: 100px; 
    margin-left: 16px;
    margin-right: 16px;
  }
  .deals-discription{
    font-size: 14px;
    margin-top: 16px;
  }
  .deals-title{
    font-size: 24px;
  }
  .latest-deals-image {
    grid-template-columns: 1fr;
    gap: 20px;
    height: auto;
    margin-top: 51px;
  }
  .latest-deals-left {
    grid-template-rows: auto;
  }

  .latest-deals-left-up,
  .latest-deals-left-down,
  .latest-deals-right {
    height: auto;
  }
   .latest-deals-image img{
    width: 100%;
    height: auto;
    border-radius: 20px;
  }

  .latest-deals-right h3 {
    font-size: 24px;
  }

  .latest-deals-right a {
    font-size: 18px;
  }

  /* join bunch */
  .join-bunch img{
    width: 100%;
    height: 275px;
  }
  .join-bunch-content h1 {
    font-size: 20px;
  }

  .join-bunch-submit {
    width: 321px;
  }
.join-bunch-submit input{
    width: 218px;
    
}
.join-bunch-submit button{
    width: 103px;
    height: 50px;
}
  .join-bunch-submit input,
  .join-bunch-submit button {
    width: 321px;
    height: 48px;
  }

  /* footer */
   .footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 50px 14px 5px 20px;
  }
  .middle1{
    display: block;
    gap: 12px;
  }
  .icon{
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    padding-bottom: 50px;
}
.middle1 ul {
    padding: 0;
    margin: 0;
    gap: 8px;
  }
  .middle1 ul{
    gap: 12px;
  }

}
